<h1>A Starter Web Application</h1>
<p>Hello and Welcome to Nodejs and Express</p>
<div>
    <label for="name">Name:</label>
    <input id="name" aria-label="Name" style="background-color:burlywood;">
</div>
<p><a href="http://localhost:3000/home">Some Link</a></p>